In [0]:
import pandas as pd
import numpy as np
from google.colab import files

In [2]:
fx = pd.read_csv('https://raw.githubusercontent.com/AndrewMarksArt/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/master/historical_fx_rates.csv')
fx.head()

         DATE  DEXCHUS  DEXDNUS  DEXHKUS  ...  DEXUSAL  DEXUSEU  DEXUSNZ  DEXUSUK
0  1971-01-04      NaN   7.4850      NaN  ...   1.1127      NaN   1.1138   2.3938
1  1971-01-05      NaN   7.4872      NaN  ...   1.1132      NaN   1.1143   2.3949
2  1971-01-06      NaN   7.4839      NaN  ...   1.1140      NaN   1.1151   2.3967
3  1971-01-07      NaN   7.4850      NaN  ...   1.1138      NaN   1.1150   2.3963
4  1971-01-08      NaN   7.4850      NaN  ...   1.1124      NaN   1.1154   2.3972

[5 rows x 16 columns]

In [0]:
china = fx[['DATE', 'DEXCHUS']]
china['Country'] = 'China'
china = china.rename(columns={'DATE': 'Date', 'DEXCHUS': 'Value'})
china = china[['Date', 'Country', 'Value']]

In [0]:
denmark = fx[['DATE', 'DEXDNUS']]
denmark['Country'] = 'Denmark'
denmark = denmark.rename(columns={'DATE': 'Date', 'DEXDNUS': 'Value'})
denmark = denmark[['Date', 'Country', 'Value']]

In [0]:
hong_kong = fx[['DATE', 'DEXHKUS']]
hong_kong['Country'] = 'Hong Kong'
hong_kong = hong_kong.rename(columns={'DATE': 'Date', 'DEXHKUS': 'Value'})
hong_kong = hong_kong[['Date', 'Country', 'Value']]

In [0]:
japan = fx[['DATE', 'DEXJPUS']]
japan['Country'] = 'Japan'
japan = japan.rename(columns={'DATE': 'Date', 'DEXJPUS': 'Value'})
japan = japan[['Date', 'Country', 'Value']]

In [0]:
south_korea = fx[['DATE', 'DEXKOUS']]
south_korea['Country'] = 'South Korea'
south_korea = south_korea.rename(columns={'DATE': 'Date', 'DEXKOUS': 'Value'})
south_korea = south_korea[['Date', 'Country', 'Value']]

In [0]:
mexico = fx[['DATE', 'DEXMXUS']]
mexico['Country'] = 'Mexico'
mexico = mexico.rename(columns={'DATE': 'Date', 'DEXMXUS': 'Value'})
mexico = mexico[['Date', 'Country', 'Value']]

In [0]:
norway = fx[['DATE', 'DEXNOUS']]
norway['Country'] = 'Norway'
norway = norway.rename(columns={'DATE': 'Date', 'DEXNOUS': 'Value'})
norway = norway[['Date', 'Country', 'Value']]

In [0]:
sweden = fx[['DATE', 'DEXSDUS']]
sweden['Country'] = 'Sweden'
sweden = sweden.rename(columns={'DATE': 'Date', 'DEXSDUS': 'Value'})
sweden = sweden[['Date', 'Country', 'Value']]

In [0]:
singapore = fx[['DATE', 'DEXSIUS']]
singapore['Country'] = 'Singapore'
singapore = singapore.rename(columns={'DATE': 'Date', 'DEXSIUS': 'Value'})
singapore = singapore[['Date', 'Country', 'Value']]

In [0]:
switzerland = fx[['DATE', 'DEXSZUS']]
switzerland['Country'] = 'Switzerland'
switzerland = switzerland.rename(columns={'DATE': 'Date', 'DEXSZUS': 'Value'})
switzerland = switzerland[['Date', 'Country', 'Value']]

In [0]:
taiwan = fx[['DATE', 'DEXTAUS']]
taiwan['Country'] = 'Taiwan'
taiwan = taiwan.rename(columns={'DATE': 'Date', 'DEXTAUS': 'Value'})
taiwan = taiwan[['Date', 'Country', 'Value']]

In [0]:
australia = fx[['DATE', 'DEXUSAL']]
australia['Country'] = 'Australia'
australia = australia.rename(columns={'DATE': 'Date', 'DEXUSAL': 'Value'})
australia = australia[['Date', 'Country', 'Value']]

In [0]:
europe = fx[['DATE', 'DEXUSEU']]
europe['Country'] = 'Europe'
europe = europe.rename(columns={'DATE': 'Date', 'DEXUSEU': 'Value'})
europe = europe[['Date', 'Country', 'Value']]

In [0]:
new_zealand = fx[['DATE', 'DEXUSNZ']]
new_zealand['Country'] = 'New Zealand'
new_zealand = new_zealand.rename(columns={'DATE': 'Date', 'DEXUSNZ': 'Value'})
new_zealand = new_zealand[['Date', 'Country', 'Value']]

In [0]:
united_kingdom = fx[['DATE', 'DEXUSUK']]
united_kingdom['Country'] = 'United Kingdom'
united_kingdom = united_kingdom.rename(columns={'DATE': 'Date', 'DEXUSUK': 'Value'})
united_kingdom = united_kingdom[['Date', 'Country', 'Value']]

In [22]:
results = pd.concat([china, denmark, hong_kong, japan, south_korea, mexico,
                     norway, sweden, singapore, switzerland, taiwan, australia,
                     europe, new_zealand, united_kingdom])
results.shape

(189675, 3)

In [0]:
path = r'C:\Users\andre\additional_fx_data.csv'
export_csv = results.to_csv(path, index=None, header=True)

In [0]:
files.download('additional_fx_data.csv')